# Introduccion a python

## Acerca de notebooks

Los notebooks de python son archivos que estan organizados en *celdas* de **codigo** y **texto**

Estos notebooks tienen la terminacion: **i p y n b**

- i: en linea
- py: python
- nb: notebook

## Tipos de datos en python

- `int`: datos tipo entero
- `float`: datos con decimales
- `str`: datos que contienen cadena de caracteres
- `bool`: datos que contienen variable booleana

In [ ]:
# declaracion de una variable tipo int
var1 = 10
print("el valor de la variable var1 es:",var1)

# declaracion de una variable tipo float:
var2 = 3.1
print("el valor de la variable var2 es:",var2)

el valor de la variable var1 es: 10
el valor de la variable var2 es: 3.1

In [ ]:
# declaracion de una variable tipo str
var3 = "hugo"
print("El valor de la variable var3 es", var3)

El valor de la variable var3 es hugo

In [ ]:
# Declaracion de una variable tipo booleana
# Las variables booleanas solamente toman dos valores
# True
# False

var_bool1 = True
var_bool2 = False

print("el valor de variable booleana 1 es:", var_bool1)
print("el valor de variable booleana 2 es:", var_bool2)

el valor de variable booleana 1 es: True
el valor de variable booleana 2 es: False

## Conversion de variables

In [ ]:
#Conversion de int a float
a1 = 7
# a2 es la conversion a float desde una variable entera
a2 = float(a1)

print("el valor de la variable a1 es", a1)
print("el valor de la variable a2 es", a2)

el valor de la variable a1 es 7
el valor de la variable a2 es 7.0

In [ ]:
# Conversion de float a int
b1 = 3.91
# b2 es la conversion a int de b1
b2 = int(b1)
print("el valor de la variable b1 es", b1)
print("el valor de la variable b2 es", b2)

el valor de la variable b1 es 3.91
el valor de la variable b2 es 3

In [ ]:
# conversion de bool a int
d1 = True
d2 = int(d1)
print("el valor de la variable d1 es:",d1)
print("el valor de la variable d2 es:",d2)

el valor de la variable d1 es: True
el valor de la variable d2 es: 1

## Operadores aritmeticos

In [ ]:
# Operador modulo: %
# Obtiene el residuo de una division
# 7/2 =3.5
# 7   =2*3 +1
# residuo de 7/2 es 1

# 8/3 = 2.67
# 8   = 3*2 + 2
# Residuo de 8/3 es 2

var3 = 8%3
print("El residuo de dividir 8 entre 3 es", var3)

El residuo de dividir 8 entre 3 es 2

In [ ]:
# Operador de division entera:
# muestra el resultado del menor entero que resulta de la division entre 2 numeros
# 7/2  = 3.5
# 7//2 = 3
print("division entera entre 7 y 2 es:", 7//2)

division entera entre 7 y 2 es: 3

In [ ]:
# -7/2 = -3.5
# -7//2 = -4
print("division entera entre -7 y 2 es:", -7//2)

division entera entre -7 y 2 es: -4

In [ ]:
segundomodelo = "clustering "

## Operadores de comparacion

El resultado de los operadores de comparacion es una variable booleana

In [ ]:
print("4>=3", 4>=3)

4>=3 True

In [ ]:
print("4!=3",4!=3)

4!=3 True

## Operadores de asignacion

In [ ]:
# algunos operadores de asignacion:
m = 10
m+= -20  # m = m + (-20) => -10
print("el valor de m es: ", m)

el valor de m es:  -10

In [ ]:
m =5
m %= 10  # m = m%10 => 5
print("el valor de m es",m)

el valor de m es 5

## Operadores logicos

Existen tres operadores logicos:

AND, OR, NOT

Operan sobre variables booleanas

In [ ]:
# AND   X1 and X2
# Tabla de verdad:
'''
X1    X2      X1 and X2
True  False     False
True  True      True
False False     False
False True      False
'''
nombre   = True
apellido = False
siguiente_paso = nombre and apellido
print("el usuario puede ir al siguiente paso?", siguiente_paso)

el usuario puede ir al siguiente paso? False

In [ ]:
# or   X1 or X2
# Tabla de verdad:
'''
X1    X2      X1 or X2
True  False     True
True  True      True
False False     False
False True      True
'''
nombre_1 = True
nombre_2 = False
siguiente_paso = nombre_1 or nombre_2
print("el usuario puede ir al siguiente paso?", siguiente_paso)

el usuario puede ir al siguiente paso? True

In [ ]:
# not  not(X1)
# tabla de verdad:
'''
X1      not(X1)
True    False
False   True
'''
print("negacion de siguiente_paso", not(siguiente_paso))

negacion de siguiente_paso False

In [ ]:
# Aplicacion en filtros
# Filtro1 = datos de las personas que contengan una cuenta en un banco determinado
# Filtro2 = datos de las personas que se encuentran casadas
# Filtro3 = datos de las personas que tengan mora bancaria
# Filtro4 = datos de las personas que han viajado al exterior en los ultimos 6 meses

# Filtro final :
'''
- Personas que no se encuentran con mora y
- (Personas que tengan una cuenta en un banco determinado o
- Personas que han viajado en los ultimos 6 meses) y
- Personas que se encuentran casadas
'''

filtro1 = True
filtro2 = False
filtro3 = True
filtro4 = True
filtro_final = (not(filtro3)) and( filtro1 or filtro4) and (filtro2)
print("el resultado del filtro final es:",filtro_final)

el resultado del filtro final es: False