## Control de flujo en python

In [2]:
print("este es un mensaje en python")
var1 = 10
# hacer correr las 2  lineas siguientes bajo una condicion
if (5>2):
    var2 = 20
    print("el valor de la variable 2 es", var2)
print("el valor de la variable 1 es", var1)

este es un mensaje en python
el valor de la variable 2 es 20
el valor de la variable 1 es 10

In [4]:
print("este es un mensaje en python")
var1 = 10
# hacer correr las 2  lineas siguientes bajo una condicion
if (5>20):
    var2 = 20
    print("el valor de la variable 2 es", var2)
else:
  var3 = 30
  print("el valor de la variable 3 es:", var3)
print("el valor de la variable 1 es", var1)

este es un mensaje en python
el valor de la variable 3 es: 30
el valor de la variable 1 es 10

## Listas en python

- Una lista es una coleccion ordenada

In [7]:
#           0  1  2
lista_1 = [10,30,50]
#          -3 -2 -1
print("primer elemento de la lista:", lista_1[0])
print("el ultimo elemento de la lista:",lista_1[-1])

primer elemento de la lista: 10
el ultimo elemento de la lista: 50

- Una lista es re-dimensionable

In [9]:
# es posible aumentar/reducir el numero de elementos de la lista
# .append() permite la integracion de un elemento al final de la lista
lista_1 = []
print("la lista 1:",lista_1)
lista_1.append(3)
print("la lista 1 despues de agregar elementos:",lista_1)

la lista 1: []
la lista 1 despues de agregar elementos: [3]

- Una lista puede contener distintos tipos de elementos

In [10]:
lista_2 = [3, "hola", True, lista_1]
print("la lista 2 tiene como elementnos ", lista_2)

la lista 2 tiene como elementnos  [3, 'hola', True, [3]]

In [11]:
#                0         1        2        3          4      5           6
frutas = ['mandarina', 'manzana', 'pera', 'platano', 'kiwi', 'manzana', 'platano']

In [19]:
# acceso a los elementos
print("acceso al primer elemento:", frutas[0])
print("acceso a los 3 primeros elementos", frutas[0:3])
print("acceso a los elementos pares",frutas[0: :2])
print("acceso a los elementos imperas", frutas[1: :2])
print("acceso de atras hacia adelante", frutas[-1: :-1])

acceso al primer elemento: mandarina
acceso a los 3 primeros elementos ['mandarina', 'manzana', 'pera']
acceso a los elementos pares ['mandarina', 'pera', 'kiwi', 'platano']
acceso a los elementos imperas ['manzana', 'platano', 'manzana']
acceso de atras hacia adelante ['platano', 'manzana', 'kiwi', 'platano', 'pera', 'manzana', 'mandarina']

In [20]:
# funcion: len()  encuentra el numero de elementos en una estructura
print(len(frutas))

7

In [21]:
# metodo  .count()
# cuenta el numero de elementos que aparecen en una lista:
print(frutas.count("platano"))

2

#s2

In [23]:
# metodo .index()
print(frutas)
frutas.index("manzana",2)

['mandarina', 'manzana', 'pera', 'platano', 'kiwi', 'manzana', 'platano']

5

In [25]:
#frutas.index("uvas") # existe error

In [27]:
# metodo reverse:
# invierte los elementos de una lista y los guarda en memoria
print(frutas)
frutas.reverse() # este metodo no retorna valores/ retorna None
frutas_inv = frutas.reverse()

print(frutas)
print(frutas_inv)

['platano', 'manzana', 'kiwi', 'platano', 'pera', 'manzana', 'mandarina']
['platano', 'manzana', 'kiwi', 'platano', 'pera', 'manzana', 'mandarina']
None

In [29]:
print(frutas)
frutas.sort(reverse=True)
print(frutas)

['kiwi', 'mandarina', 'manzana', 'manzana', 'pera', 'platano', 'platano']
['platano', 'platano', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi']

In [33]:
lista_2 = ["d4", "d1","4"]
lista_2.sort()
lista_2

['4', 'd1', 'd4']

In [35]:
# append
# es el metodo mas utilizado en listas
print(frutas)
frutas.append("uvas")
print(frutas)

['platano', 'platano', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi', 'uvas']
['platano', 'platano', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi', 'uvas', 'uvas']

In [36]:
frutas.pop()
print(frutas)

['platano', 'platano', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi', 'uvas']

In [37]:
del(frutas[-1])

In [38]:
print(frutas)

['platano', 'platano', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi']

In [39]:
# metodo .insert
frutas.insert(2,"uvas")
print(frutas)

['platano', 'platano', 'uvas', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi']

In [42]:
# metodo .remove
frutas = ['platano', 'platano', 'uvas', 'pera', 'manzana', 'manzana', 'mandarina', 'kiwi']
frutas.remove("kiwi")
print(frutas)

['platano', 'platano', 'uvas', 'pera', 'manzana', 'manzana', 'mandarina']

In [43]:
frutas.remove("manzana")
print(frutas)

['platano', 'platano', 'uvas', 'pera', 'manzana', 'mandarina']

In [45]:
# metodo .copy
lista_a = [10,20,30,40]
lista_b = lista_a
lista_b[0] = 0
lista_a[-1] = 0
print(lista_a)
print(lista_b)
# aliasing

[0, 20, 30, 0]
[0, 20, 30, 0]

## Listas anidadas

In [46]:
nested_a = [
[10, 20, 30, 40, 50],
[1, 2, 3, 4, 5],
[15, 20, 25, 30, 35],
[100, 200, 300, 400, 500]
]

In [47]:
nested_a[1][2]

3